// clear Fix - for floating blocks
@mixin cf() {
    *zoom: 1;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// fill parrent block
@mixin fill_parent($offset: 0px, $position: absolute) {
    position: $position;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
}

@mixin float_parent() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// ellipsis text
@mixin ellipsis {
    flex: 1;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin ellipsis_inline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin visible_on_hover($item, $timeout: 0.3s) {
    #{$item},
    #{$item} * {
        opacity: 0;
        visibility: hidden;
        transition: opacity calc($timeout / 3), visibility calc($timeout / 3) linear;
    }

    &:hover {
        #{$item},
        #{$item} * {
            opacity: 1;
            visibility: visible;
            transition: opacity $timeout, visibility $timeout linear;
        }
    }
}

@mixin visible_on_toggle($item, $class, $timeout: 0.3s) {
    #{$item},
    #{$item} {
        opacity: 0;
        visibility: hidden;
        transition: opacity calc($timeout / 3), visibility calc($timeout / 3) linear;
    }

    &#{$class} {
        #{$item} {
            opacity: 1;
            visibility: visible;
        }
    }
}

@mixin webkit_scrollbar($color: var(--color-primary-light), $trak-border: 1px solid transparent) {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f3f4f5;
        border: $trak-border;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        height: 6px;
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        background-color: $color;
        box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
}

@mixin webkit_scrollbar_gray($color: #9e9fa1) {
    @include webkit_scrollbar($color);
}

@mixin webkit_scrollbar_table($color: #646f79) {
    &::-webkit-scrollbar {
        width: 12px;
        height: 24px;
    }

    &::-webkit-scrollbar-track {
        background: #fafbfc;
        border: none;
        border-top: 1px solid var(--border-color);
    }

    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 2px;
        border: 7px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        background-color: $color;
        box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button:horizontal:end:increment {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS43MDUgMCAuMjk1IDEuNDEgNC44NzUgNmwtNC41OCA0LjU5TDEuNzA1IDEybDYtNi02LTZaIiBmaWxsPSIjMTM0NDc4Ii8+PC9zdmc+');
        border-left: 1px solid var(--border-color);
    }

    &::-webkit-scrollbar-button:horizontal:start:decrement {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNi4yOTUgMCAxLjQxIDEuNDFMMy4xMjUgNmw0LjU4IDQuNTlMNi4yOTUgMTJsLTYtNiA2LTZaIiBmaWxsPSIjMTM0NDc4Ii8+PC9zdmc+');
        border-right: 1px solid var(--border-color);
    }

    &::-webkit-scrollbar-button:horizontal:end:increment,
    &::-webkit-scrollbar-button:horizontal:start:decrement {
        cursor: pointer;
        border-top: 1px solid var(--border-color);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        text-align: center;
        width: 26px;
        height: 24px;
    }
}

@mixin webkit_scrollbar_horizontal($color: #646f79) {
    &::-webkit-scrollbar {
        width: 24px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-left: 1px solid var(--border-color) !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        border: 8px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        background-color: $color;
        box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
}

@mixin anim_blink() {
    animation: blink 1.5s ease-in-out infinite;

    @keyframes blink {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes blink {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

@function assetUrl($url) {
    @return if(variable-exists(buildReact), url('./assets/' + $url), url('../' + $url));
}
