.section {
    &.section-faq {
        margin-left: 0;
        margin-right: auto;
    }

    @media screen and (max-width: 1200px) {
        &.section-faq {
            margin-right: 0;
        }
    }
}