@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';

// COMMON
@import 'includes/common';

// LAYOUTS
// @import 'layout/footer';
// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/navigation';

// COMPONENTS
@import 'components/buttons';
@import 'components/button-groups';
@import 'components/form';
@import 'components/label';
@import 'components/modals';
@import 'components/layout';

@import "blocks/block-footer-apps";
@import "blocks/block-footer-menu";
@import "blocks/block-footer-copyright";