.block.block-navbar-search {
    .search-form {
        &.form {
            .navbar-search-label {
                top: -18px;
                left: 0;
                background: none;
                padding: 0;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .search-form {
            &.form {
                background: transparent;
            }
        }
    }
}
