.table-wrapper {
    @include webkit_scrollbar_gray();

    .table-container {
        width: 100%;
        position: relative;

        .table-scroll-top {
            height: 24px;
            overflow: auto;
            overflow-y: hidden;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 28px;
            @include webkit_scrollbar_table();
        }

        .table-scroll {
            overflow: auto;
            z-index: 1;
            @include webkit_scrollbar_table();

            thead {
                tr {
                    background: #f6f9fc;

                    th {
                        padding-bottom: 29px;
                    }
                }
            }

            tr {
                th:last-child,
                td:last-child {
                    min-width: 75px;
                }

                th {
                    height: 29px;
                    white-space: nowrap;

                    .table-th-actions-list {
                        display: flex;
                        flex: 0 0 auto;
                        flex-direction: row;
                        justify-content: flex-end;
                        height: 100%;
                        background: linear-gradient(
                            90deg,
                            rgba(246, 249, 252, 0) 0%,
                            rgba(246, 249, 252, 1) 35%,
                            rgba(246, 249, 252, 1) 100%
                        );

                        .table-th-action {
                            display: flex;
                            width: 28px;
                            border-left: 1px solid var(--border-color);
                            line-height: 28px;
                            flex-direction: row;
                            justify-content: center;
                            background-color: #ffffff;
                            font-size: 16px;
                            cursor: pointer;

                            &.active {
                                border-color: var(--color-primary);
                                background-color: var(--color-primary);
                                color: #fff;
                            }
                        }
                    }

                    &.table-th-actions {
                        position: sticky;
                        right: 0;

                        &.table-th-actions-with-list {
                            padding-top: 0;
                            padding-right: 0;
                            padding-bottom: 0;
                            background: transparent;
                        }
                    }
                }

                td {
                    height: 41px !important;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    line-height: 20px;
                    white-space: nowrap;

                    &.table-td-actions {
                        position: sticky;
                        right: 0;
                        z-index: 1;
                        background: linear-gradient(
                            90deg,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 1) 35%,
                            rgba(255, 255, 255, 1) 100%
                        );
                    }
                }

                &.tr-clickable:hover {
                    td.table-td-actions {
                        background: linear-gradient(
                            90deg,
                            rgba(246, 249, 252, 0) 0%,
                            rgba(246, 249, 252, 1) 35%,
                            rgba(246, 249, 252, 1) 100%
                        );
                    }
                }
            }
        }
    }

    table.table {
        border-collapse: collapse;
        width: 100%;

        tr {
            text-align: left;
            background: transparent;
            transition: 0.4s background;

            td,
            th {
                padding: 10px 12px;
                cursor: default;
                border-bottom: 1px solid #d4d9dd;
                background: transparent;
                transition: 0.4s;

                small {
                    display: inline-block;
                    line-height: 1.2em;
                }

                & > a {
                    font: inherit;
                }

                &.cell-chevron,
                &.cell-chevron {
                    width: 1px;
                    padding: 10px 0 10px 15px;
                }
            }

            th {
                color: #646f79;
                background: #f6f9fc;
                padding-top: 5px;
                padding-bottom: 5px;
                font: 500 12px/18px var(--base-font);

                .th-sort {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    font: inherit;
                    cursor: default;

                    .th-sort-label {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font: inherit;
                        color: #646f79;
                        height: 18px;
                        line-height: 18px;
                        transition: color 0.4s;
                    }

                    .th-sort-icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: inherit;
                        height: 18px;
                        width: 18px;
                        line-height: 18px;
                        margin-left: -2.5px;

                        .mdi {
                            color: inherit;
                            height: 18px;
                            width: 18px;
                            line-height: 18px;
                            font-size: 20px;

                            &:before {
                                color: rgba(0, 0, 0, 0.12);
                                transition: color 0.4s;
                            }
                        }
                    }

                    &.th-sort-enabled {
                        cursor: pointer;

                        .th-sort-label {
                            font-weight: 600;
                        }
                    }

                    &.th-sort-active,
                    &.th-sort-enabled:hover {
                        .th-sort-label {
                            color: #555;
                            font-weight: 600;
                        }

                        .th-sort-icon {
                            .mdi:before {
                                color: var(--color-primary);
                            }
                        }
                    }
                }

                &.w-10 {
                    width: 10%;
                }

                &.w-15 {
                    width: 15%;
                }

                &.w-20 {
                    width: 20%;
                }

                &.th-narrow {
                    width: 1%;
                }

                &:first-child {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }

            td {
                color: #444a4f;
                font: 500 13px/20px var(--base-font);
                background: rgba(255, 255, 255, 0);
                transition: background 0.4s;

                .td-menu-icon {
                    display: inline-block;
                    font-size: 26px;
                    line-height: 20px;
                    color: inherit;
                }

                .td-title {
                    font: 700 14px/20px var(--base-font);

                    .td-title-icon {
                        color: #8fa2a5;

                        &.td-title-icon-suffix {
                            margin-left: 2px;
                            width: 15px;
                            text-align: right;
                            display: inline-block;
                        }
                    }
                }

                .td-text {
                    font: inherit;
                    margin: 0 0 10px;

                    &:last-child {
                        margin: 0 0 0;
                    }
                }

                .button {
                    &.button-icon {
                        padding: 4px 10px;
                        font-size: 12px;
                        margin-right: 8px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .tag {
                    margin-bottom: 0;
                }

                .td-icon {
                    color: var(--color-primary);
                    transition: 0.4s;
                    font-size: 20px;

                    &:hover {
                        color: var(--color-primary-light);
                    }
                }

                .td-icons {
                    .mdi {
                        text-align: center;
                        color: var(--color-primary);
                        transition: 0.4s;
                        font-size: 16px;
                        line-height: 26px;
                        width: 20px;
                        margin-right: 7.5px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .td-state-2fa {
                    display: inline-flex;

                    .state-2fa-icon,
                    .state-2fa-label {
                        display: inline-flex;
                        font: 500 12px/20px var(--base-font);

                        .mdi {
                            font-size: 20px;
                        }
                    }

                    .state-2fa-label {
                        padding: 0 6px 0 4px;
                    }
                }

                .td-drawn {
                    margin: -5px 0;
                }

                .td-entity-main {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 10px;

                    .td-entity-main-media {
                        display: grid;
                        align-items: center;
                    }

                    .td-entity-main-content {
                        display: grid;
                        align-items: center;
                    }
                }

                .td-media {
                    display: block;
                    width: 70px;
                    border-radius: var(--border-radius);
                    border: 1px solid var(--border-color);

                    &.td-media-sm {
                        width: 30px;
                        border-radius: 4px;
                    }

                    &.td-media-round {
                        border-radius: 70px;
                    }
                }

                .td-boolean {
                    color: #646f79;
                    font: 500 13px/20px var(--base-font);

                    .mdi {
                        font-size: 16px;
                        line-height: 20px;
                        margin-right: 5px;
                        float: left;
                    }
                }

                .td-text-insert {
                    line-height: 18px;
                    margin: -6px 0;
                }

                .button-group {
                    margin: -5px 0;
                }

                .td-collapsable {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .collapsable-icon {
                        flex: 0 0 15px;
                        width: 15px;
                        font-size: 20px;
                        margin-left: -7.5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .mdi {
                            color: var(--text-color);
                            transition: color 0.4s;
                        }

                        &:hover {
                            .mdi {
                                color: var(--color-primary);
                            }
                        }
                    }

                    .collapsable-media {
                        display: flex;
                        flex: 0 0 auto;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .collapsable-content {
                        flex: 1 1 auto;
                        flex-direction: column;
                        justify-content: center;
                        @include ellipsis();
                        display: flex;
                    }
                }

                &:first-child {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-right: 25px;
                }

                &.td-narrow {
                    width: 1%;
                }

                &.td-grow {
                    width: 100%;
                }

                &.td-paddless {
                    padding: 0;
                }
            }

            &.tr-clickable:hover {
                background: #f6f8f9;

                td,
                th {
                    cursor: pointer;
                }
            }

            &.dim {
                background: #f6f9fc;
            }

            &.light {
                background: #fff;
            }

            &.tr-danger {
                background-color: rgba(255, 150, 150, $alpha: 0.1);
            }

            &.tr-warning {
                background-color: rgba(#fcf2dd, $alpha: 0.3);

                &.tr-clickable:hover {
                    background-color: rgba(#fcf2dd, $alpha: 0.5);
                }
            }

            &.selected {
                background: #f8fbf7;
            }
        }

        & > tbody:last-child > tr {
            &:last-child {
                & > td {
                    border-bottom: 0;
                }
            }
        }

        &.table-fixed {
            table-layout: fixed;
        }

        &.table-align-top {
            td {
                vertical-align: top;
            }
        }

        &.table-highlight {
            tr:hover {
                background-color: rgba(#fcf2dd, $alpha: 0.5);
            }
        }
    }

    &.table-wrapper-scroll {
        overflow: auto;
        @include webkit_scrollbar_table();
    }

    @media screen and (max-width: 1000px) {
        overflow: auto;
    }
}
