.modal.modal-fund-help {
    .modal-window {
        width: 960px;

        .modal-body {
            .modal-section {
                .modal-section-description {
                    color: #595959;

                    .block-markdown {
                        font: inherit;
                        text-align: center;

                        p {
                            text-align: center;
                            margin-bottom: 0;
                        }
                    }
                }

                .block-pane {
                    box-shadow: none;
                    border: 1px solid var(--border-color);
                    border-radius: calc(var(--border-radius) / 2);
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;

                    .pane-section {
                        display: flex;
                        flex-direction: column;
                        padding: 24px;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        flex: 1;

                        .pane-icon {
                            border-radius: 50%;
                            background: #f4f5f7;
                            padding: 17px;
                            line-height: 0;
                            margin-bottom: 12px;

                            svg {
                                width: 28px;
                                height: 28px;
                            }
                        }

                        .pane-content {
                            text-align: center;

                            .pane-title {
                                color: #353535;
                                font: 400 13px/18px var(--base-font);
                                white-space: nowrap;
                            }

                            .pane-subtitle {
                                color: #222;
                                font: 600 14px/21px var(--base-font);
                                white-space: nowrap;

                                a {
                                    font: inherit;

                                    &.link {
                                        color: #004D93;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }

                    @media (max-width: 960px) {
                        flex-direction: column;
                        padding: 17px 20px;

                        .pane-section {
                            padding: 0;
                            flex-direction: row;
                            justify-content: flex-start;
                            gap: 12px;
                            margin-bottom: 14px;

                            .pane-icon {
                                padding: 7px;
                                margin-bottom: 0;

                                svg {
                                    width: 16px;
                                    height: 16px;
                                }
                            }

                            .pane-content {
                                text-align: left;

                                .pane-subtitle {
                                    font-size: 13px;
                                    line-height: 18px;
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
