.block.block-profile {
    .profile-aside {
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);

        .profile-menu {
            .profile-menu-item {
                margin-bottom: 0;
                border-radius: 0;
                box-shadow: 0px -1px 0px 0px #e5e5e5 inset;

                .mdi {
                    color: #dbdcdb;
                }
            }
        }
    }

    .profile-content {
        .card {
            border: 1px solid var(--border-color);

            .form-group {
                .form-label {
                    color: #2d3748;
                    font: 500 13px/18px var(--base-font);
                }

                .form-control {
                    border-radius: var(--border-radius);
                }
            }
        }
    }
}
