.block.block-fund {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 30px;

    .fund-card {
        cursor: default;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .fund-actions {
        display: flex;
        flex-direction: row;
    }

    .fund-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        z-index: 1;
        gap: 30px;

        .fund-name {
            font: 500 2.5em var(--hf);
            margin: 0 0 10px;
            color: var(--tc);

            &:last-child {
                margin: 0 0 0;
            }
        }

        .fund-description {
            font: 400 16px/1.5em var(--base-font);
            margin: 0 0 25px;

            .block-markdown {
                p:last-child {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                margin: 0 0 0;
            }
        }

        .organization-name {
            font: 400 16px var(--base-font);
            color: var(--tc);
        }

        .fund-details-items {
            display: flex;
            flex-direction: row;

            .fund-details-item {
                flex-direction: column;
                width: 100%;

                .fund-details-item-label {
                    font: 600 14px var(--base-font);
                    color: #646f79;
                    margin-bottom: 5px;
                }

                .fund-details-item-value {
                    font: 600 16px var(--base-font);
                    color: #303030;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;

        .fund-actions {
            flex-direction: column;
        }

        .fund-content {
            .fund-name {
                font-size: 24px;
            }

            .fund-details-items {
                gap: 20px;
                flex-direction: column;
            }
        }
    }
}
