.block.block-bookmark-toggle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #ffff;
    font: 500 22px/42px arial;
    text-align: center;
    color: #282B39;
    z-index: 1;
    transition: color .4s, background-color .4s;
    border: 1px solid var(--border-color);
    cursor: pointer;

    &:hover {
        color: #ED133C;
    }

    &.active {
        color: #ED133C;
    }
}