.section {
    &.section-header {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 25px 0 100px 0;
        color: var(--forus-white);
        background-image: url("./assets/img/header-image-ellipse.png");
        background-repeat: no-repeat, repeat;
        background-size: contain;
        background-position: top right;

        .header-content {
            padding: 50px 0;
            max-width: 650px;
            text-align: left;
            text-shadow: 1px 2px 2px rgba(223, 177, 177, .15);

            .header-info {
                .header-title {
                    font: 900 86px/96px var(--base-font);
                    margin-bottom: 50px;
                }

                .header-description {
                    font: 400 20px/30px var(--base-font);
                    margin-bottom: 60px;
                }
            }
        }

        @media screen and (max-width: 992px) {
            background-image: url("./assets/img/header-image.jpg");
            margin: 0;

            .header-content {
                max-width: initial;
                margin-top: 280px;
                padding: 0;

                .header-info {
                    padding: 48px 24px;
                    background-color: #fff;
                    border-radius: 30px;

                    .header-title {
                        font: 900 36px/44px var(--base-font);
                        margin-bottom: 25px;
                    }

                    .header-description {
                        margin-bottom: 0;
                    }
                }

                .header-actions {
                    padding: 48px 24px;

                    .button-group {
                        flex-direction: column;

                        .button {
                            display: inline;
                            width: 100%;
                            text-align: center;
                            margin-bottom: 15px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
