&.modal-provider-products-required {
    .modal-body {
        .modal-section.modal-section-funds-list {
            .card {
                box-shadow: none;
                border: none;

                .card-section {
                    max-height: 300px;
                    overflow: auto;
                }
            }
        }
    }
}
