.skiplinks {
    a {
        &.sr-only-focusable {
            text-decoration: underline;
            color: #222;

            span {
                font-weight: 600;
                text-decoration: underline;
                padding-left: 3px;
                text-decoration-thickness: 0.3px;
                text-underline-offset: 1px;
            }

            &:hover {
                text-decoration: none;
            }

            &.active, &:focus, &:hover {
                position: fixed;
                padding: 10px 0 12px;
                background: #fff;
                color: #222;
                font: 400 16px/22px var(--base-font);
                box-shadow: var(--box-shadow);
                width: 100%;
                text-decoration: none;
                display: block;
                left: 0;
                text-align: center;
                top: 0;
                z-index: 100;
                -webkit-transition: outline-color .7s ease-out;
                -moz-transition: outline-color .7s ease-out;
                -o-transition: outline-color .7s ease-out;
                transition: outline-color .7s ease-out;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: 1px;

                @media screen and (max-width: 767px) {
                    position: fixed;
                }
            }
        }
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
    &.sr-only-focusable {
        &.active, &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            width: auto;

            @media screen and (max-width: 767px) {
                position: static;
            }
        }
    }
}