.block.block-statistics {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 0 0 60px;

    .block-statistics-main-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        .block-statistics-main-info-title {
            flex: 1 1 auto;
            font: 800 50px/68px var(--base-font);
        }

        .block-statistics-main-info-image {
            flex: 0 0 560px;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    .block-statistics-figures-list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .block-statistics-figures-list-item {
            display: flex;
            width: 100%;
            gap: 150px;
            align-items: center;

            .block-statistics-figures-list-item-main {
                width: calc(50% - 75px);
                background: var(--Linear, linear-gradient(180deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%));
                text-align: center;
                padding: 80px;
                border-radius: 10px;

                .block-statistics-figures-list-item-title {
                    font: 500 80px/96px var(--base-font);
                    margin: 0 0;
                }

                .block-statistics-figures-list-item-subtitle {
                    font: 400 20px/30px var(--base-font);
                    margin: 0 0;
                }
            }

            .block-statistics-figures-list-item-details {
                width: calc(50% - 75px);
                font: 400 18px/29px var(--base-font);
            }

            &.block-statistics-figures-list-item-blue {
                .block-statistics-figures-list-item-main {
                    .block-statistics-figures-list-item-title {
                        color: #315efd;
                    }
                }
            }

            &.block-statistics-figures-list-item-purple {
                .block-statistics-figures-list-item-main {
                    .block-statistics-figures-list-item-title {
                        color: #760dc9;
                    }
                }
            }

            &.block-statistics-figures-list-item-blue-light {
                .block-statistics-figures-list-item-main {
                    .block-statistics-figures-list-item-title {
                        color: #0071b8;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1600px) {
        .block-statistics-main-info {
            gap: 60px;

            .block-statistics-main-info-image {
                flex: 0 0 460px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0 0 30px;
        gap: 50px;

        .block-statistics-main-info {
            flex-direction: column;
            gap: 30px;

            .block-statistics-main-info-title {
                font: 900 30px/40px var(--base-font);
            }

            .block-statistics-main-info-image {
                flex: 0 0 auto;
            }
        }

        .block-statistics-figures-list {
            .block-statistics-figures-list-item {
                flex-direction: column;
                gap: 48px;

                .block-statistics-figures-list-item-main {
                    width: 100%;
                    padding: 36px;

                    .block-statistics-figures-list-item-title {
                        font: 500 40px/48px var(--base-font);
                    }

                    .block-statistics-figures-list-item-subtitle {
                        font: 400 16px/24px var(--base-font);
                    }
                }

                .block-statistics-figures-list-item-details {
                    width: 100%;
                    font: 400 14px/21px var(--base-font);
                }

                &.block-statistics-figures-list-item-purple {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}
