.block.block-role-banner {
    position: relative;
    display: flex;
    text-align: center;

    .banner-content {
        display: flex;
        flex-direction: row;
        text-align: left;
        text-shadow: 1px 2px 2px rgba(223, 177, 177, 0.15);
        margin: auto;
        gap: 50px;
        padding: 0 20px;
        width: 100%;
        max-width: calc(var(--wrapper-width) + 40px);

        .banner-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 640px;
            padding: 30px 0;
            min-height: 700px;
            justify-content: center;

            .banner-icon {
                width: 70px;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .banner-title {
                font: 700 86px/96px var(--base-font);
                margin: 0 0 30px 0;

                &.section-title-sm {
                    font: 800 50px/68px var(--base-font);
                }
            }

            .banner-description {
                font: 300 22px/36px var(--base-font);
                margin: 0 0 30px;

                &.banner-description-sm {
                    font: 300 18px/30px var(--base-font);
                }
            }

            .banner-actions {
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
        }
    }

    .banner-media {
        mask: url('./assets/img/roles-banner-mask.svg') no-repeat;
        flex-grow: 1;
        height: 640px;
        mask-size: auto 100%;
        position: absolute;
        right: 0;
        left: calc(50vw + 50px);
        top: 0;

        .banner-media-overlay {
            position: absolute;
            background: linear-gradient(21deg, #009ef4 7%, rgba(0, 0, 0, 0) 60%);
            width: 100%;
            height: 100%;
            background-size: cover;
            z-index: 1;
        }

        .banner-media-image {
            background: url('./assets/img/roles-requester-banner.jpg') center 35%;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    }

    &.block-role-banner-main {
        .banner-media {
            .banner-media-overlay {
                background: linear-gradient(21deg, #009ef4 7%, rgba(0, 0, 0, 0) 60%);
            }

            .banner-media-image {
                background-image: url('./assets/img/roles-main-banner.jpg');
            }
        }
    }

    &.block-role-banner-requester {
        .banner-media {
            .banner-media-overlay {
                background: linear-gradient(21deg, #009ef4 7%, rgba(0, 0, 0, 0) 60%);
            }

            .banner-media-image {
                background-image: url('./assets/img/roles-requester-banner.jpg');
            }
        }
    }

    &.block-role-banner-sponsor {
        .banner-media {
            .banner-media-overlay {
                background: linear-gradient(21deg, #7a0e7d 7%, rgba(0, 0, 0, 0) 60%);
            }

            .banner-media-image {
                background-image: url('./assets/img/roles-sponsor-banner.jpg');
            }
        }
    }

    &.block-role-banner-provider {
        .banner-media {
            .banner-media-overlay {
                background: linear-gradient(21deg, #f5d28d 7%, rgba(0, 0, 0, 0) 60%);
            }

            .banner-media-image {
                background-image: url('./assets/img/roles-provider-banner.jpg');
            }
        }
    }

    &.block-role-banner-validator {
        .banner-media {
            .banner-media-overlay {
                background: linear-gradient(21deg, #009ef4 7%, rgba(0, 0, 0, 0) 60%);
            }

            .banner-media-image {
                background-image: url('./assets/img/roles-validator-banner.jpg');
            }
        }
    }

    @media screen and (max-width: 992px) {
        width: 100%;
        flex-direction: column-reverse;

        .banner-content {
            padding: 0 0;

            .banner-info {
                width: 100%;
                margin-top: -100px;
                z-index: 2;
                order: 2;
                max-width: 100%;
                background: #fff;
                padding: 0 25px 25px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                gap: 30px;
                text-align: center;
                min-height: auto;

                .banner-icon {
                    margin: -35px auto 0;
                }

                .banner-title {
                    font: 900 36px/44px var(--base-font);
                    margin: 0;
                }

                .banner-description {
                    font: 400 16px/27px var(--base-font);
                    margin-bottom: 0;
                }

                .banner-actions {
                    width: 100%;
                    margin: 0 auto;
                    flex-direction: column;
                }
            }
        }

        .banner-media {
            position: relative;
            height: 300px;
            width: 100%;
            mask: none;
            order: 1;
            left: 0;
        }
    }
}
