.block.block-sign-in-email-sent {
    margin: 50px 0;
    text-align: center;

    .block-sign-in-email-sent-image {
        width: 240px;
        margin: 0 auto 30px auto;

        img {
            display: block;
            width: 100%;
        }
    }

    .block-sign-in-email-sent-title {
        font: 600 40px/52px var(--base-font);
        margin: 0 0 25px 0;
    }

    .block-sign-in-email-sent-description {
        font: 300 20px/30px var(--base-font);
        margin: 0 0 40px 0;
    }

    @media screen and (max-width: 1000px) {
        .block-sign-in-email-sent-title {
            font: 700 30px/40px var(--base-font);
            margin: 0 0 20px 0;
        }

        .block-sign-in-email-sent-description {
            font: 300 16px/24px var(--base-font);
            margin: 0 0 40px 0;
        }

    }
}