.block.block-background-circles {
    position: absolute;
    top: 85px;
    left: -18px;
    right: 0;
    width: 100%;
    height: 465px;
    z-index: -1;

    .block-background-circles-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #FFF 0%, #FFF 32.5%, rgba(255, 255, 255, 0.00) 100%);
    }

    .block-background-circles-media {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url("./assets/img/background-circles.svg");
    }
}