.block.block-social-impact {
    display: flex;
    border-radius: 30px;
    margin-bottom: 100px;

    .block-social-impact-main-info {
        border-radius: 30px;
        max-width: 560px;
        margin-right: 80px;

        .block-social-impact-label {
            width: fit-content;
            font: 700 14px/21px var(--base-font);
            color: #2A2B2D;
            border-radius: 5px;
            background: #F5F7F8;
            padding: 10px;
            margin-bottom: 35px;
        }

        .block-social-impact-title {
            font: 900 56px/68px var(--base-font);
            margin-bottom: 30px;
        }

        .block-social-impact-description {
            font: 400 18px/27px var(--base-font);
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        margin: 0;
        padding: 48px 0;

        .block-social-impact-main-info {
            margin-right: 0;

            .block-social-impact-label {
                font: 700 13px/18px var(--base-font);
                margin-bottom: 25px;
            }

            .block-social-impact-title {
                font: 900 30px/40px var(--base-font);
                margin-bottom: 30px;
            }

            .block-social-impact-description {
                font: 400 14px/21px var(--base-font);
                margin-bottom: 25px;
            }

            .block-social-impact-actions {
                margin-bottom: 45px;
                width: 100%;

                .button {
                    margin-right: 0;
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}
