.block.block-with-columns {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 100px 0;

    .block-with-columns-title {
        font: 700 48px/58px var(--base-font);
        margin-bottom: 60px;
    }

    .block-with-columns-items {
        display: flex;
        justify-content: space-between;
        gap: 70px;

        .block-with-columns-item {
            flex: 1 1 0;

            .block-with-columns-item-icon {
                width: 62px;
                margin-bottom: 20px;

                .img {
                    display: block;
                    width: 100%;
                }
            }

            .block-with-columns-item-title {
                font: 700 26px/36px var(--base-font);
                margin-bottom: 5px;
            }

            .block-with-columns-item-description {
                font: 400 16px/24px var(--base-font);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .block-with-columns-title {
            font: 700 28px/40px var(--base-font);
            text-align: center;
            margin-bottom: 30px;
        }

        .block-with-columns-items {
            flex-direction: column;
            gap: 45px;

            .block-with-columns-item {
                text-align: center;

                .block-with-columns-item-icon {
                    margin: 0 auto 20px auto;
                }

                .block-with-columns-item-title {
                    font: 700 20px/30px var(--base-font);
                    margin-bottom: 10px;
                }

                .block-with-columns-item-description {
                    font: 300 13px/21px var(--base-font);
                }
            }
        }
    }
}