.block.block-social-initiatives {
    display: flex;
    flex-direction: row;
    gap: 180px;
    margin: 100px 0;
    align-items: center;

    .block-social-initiatives-main {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .block-social-initiatives-title {
            font: 700 40px/52px var(--base-font);
            margin: 0 0 35px 0;
        }

        .block-social-initiatives-description {
            font: 400 18px/28px var(--base-font);
            margin-bottom: 30px;
            color: #333;
        }

        .block-social-initiatives-extra {
            display: flex;
            padding: 25px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            border-radius: 10px;
            background: #F9F9F9;

            color: #333;
            font: 400 18px/28px var(--base-font);

            .button {
                width: 100%;
                border: 1px solid #D6D7DB;
            }

            .button, .button a {
                display: flex;
                justify-content: center;
                font: 700 14px/21px var(--base-font);
                color: #2A2B2D;
            }
        }

        .block-social-initiatives-actions {
            margin-bottom: 50px;

            .button {
                display: flex;
                justify-content: center;
            }
        }
    }

    .block-social-initiatives-img {
        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        margin: 48px 0;

        .block-social-initiatives-main {
            .block-social-initiatives-title {
                font: 900 30px/40px var(--base-font);
                margin: 0 0 20px 0;
            }

            .block-social-initiatives-description {
                font: 400 14px/21px var(--base-font);
                margin-bottom: 20px;
            }

            .block-social-initiatives-actions {
                font: 400 14px/21px var(--base-font);
            }

            .block-social-initiatives-extra {
                font: 400 14px/21px var(--base-font);
            }
        }
    }
}
