.block.block-privacy {
    margin: 50px 0;

    .block-privacy-title {
        font: 700 52px/60px var(--base-font);
        margin-bottom: 20px;
    }

    .block-privacy-date {
        font: 400 17px/27px var(--base-font);
        margin-bottom: 30px;
    }

    .block-privacy-separator {
        border: 2px dashed var(--border-color);
        position: relative;
        margin: 0 0 60px 0;

        &:before {
            content: '';
            position: absolute;
            height: 4px;
            width: 50px;
            background: #315efd;
            left: 0;
            top: -2px;
            border-radius: var(--border-radius);
        }
    }

    .block-privacy-details {
        display: flex;
        gap: 80px;

        .block-privacy-info {
            .block-privacy-info-title {
                font: 600 20px/30px var(--base-font);
                margin-bottom: 10px;
            }

            .block-privacy-info-description {
                font: 300 14px/27px var(--base-font);
                margin-bottom: 20px;
                color: #333;

                ul {
                    list-style-type: disc;
                    list-style-position: inside;
                    padding: 0 0 0 10px;

                    li {
                        font: 300 14px/27px var(--base-font);
                    }
                }

                a, .link {
                    color: #273266;
                    font-weight: 600;
                }

                ol {
                    padding: 0 0 0 5px;
                    list-style-position: inside;

                    &> li::marker {
                        font-weight: 600;
                    }
                }
            }
        }

        .block-privacy-image-wrapper {
            flex: 0 0 340px;

            .block-privacy-image-title {
                font: 700 26px/42px var(--base-font);
                margin-bottom: 40px;
            }

            .block-privacy-image {
                width: 100%;
                position: relative;

                img {
                    display: block;
                    border-radius: 10px;
                }

                .block-privacy-image-overlay {
                    position: absolute;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.55) 100%);
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    border-radius: 10px;
                }

                .block-privacy-image-info {
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    padding: 30px;

                    .block-privacy-image-info-title {
                        margin-bottom: 15px;
                        font: 600 18px/30px var(--base-font);
                    }

                    .block-privacy-image-info-link {
                        font: 600 15px/24px var(--base-font);

                        .mdi {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 45px 0;

        .block-privacy-title {
            font: 700 32px/44px var(--base-font);
        }

        .block-privacy-date {
            font: 300 15px/26px var(--base-font);
        }

        .block-privacy-separator {
            margin: 0 0 48px 0;
        }

        .block-privacy-details {
            .block-privacy-info {
                .block-privacy-info-title {
                    font: 600 18px/30px var(--base-font);
                    margin-bottom: 15px;
                }

                .block-privacy-info-description {
                    font: 300 13px/22px var(--base-font);

                    ul {
                        li {
                            font: 300 13px/22px var(--base-font);
                        }
                    }
                }
            }
        }

        .block-privacy-image-wrapper {
            display: none;
        }
    }
}