.block.block-sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 50px 0 70px 0;

    .block-sign-in-title {
        font: 700 56px/68px var(--base-font);
        margin: 0 0 35px 0;
    }

    .block-sign-in-role-name {
        color: #315EFD;
    }

    .block-sign-in-main {
        display: flex;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #E5E5E5;
        background: #FFF;
        box-shadow: 0 20px 55px 0 rgba(115, 120, 145, 0.06);

        .block-sign-in-main-email, .block-sign-in-main-me-app {
            flex: 1 1 0;
            padding: 50px;
            box-shadow: -1px 0px 0px 0px #E5E5E5;
        }

        .block-sign-in-main-option {
            .block-sign-in-main-option-title {
                font: 600 26px/36px var(--base-font);
                margin-bottom: 20px;
            }

            .block-sign-in-main-option-description {
                font: 300 16px/24px var(--base-font);
                margin-bottom: 30px;
            }

            .block-sign-in-main-option-links {
                display: flex;
                gap: 10px;

                .block-sign-in-option {
                    max-width: 160px;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }

            &.block-sign-in-main-email {
                position: relative;

                .button-send-email {
                    margin-top: 25px;
                }

                &:after {
                    content: "OR";
                    position: absolute;
                    top: 50%;
                    right: -32px;
                    transform: translateY(-50%);
                    background-color: #fff;
                    padding: 0 20px;
                    font: 600 16px/24px var(--base-font);
                }
            }

            &.block-sign-in-main-me-app {
                display: flex;
                flex-direction: row;
                gap: 35px;

                .block-sign-in-main-me-app-qr {
                    width: 180px;
                    height: 180px;

                    .block-sign-in-main-me-app-qr-hidden {
                        display: flex;
                        align-items: center;
                        width: 180px;
                        height: 100%;
                        border-radius: 5px;
                        background: var(--Linear, linear-gradient(149deg, #F1F2F4 43.4%, rgba(241, 242, 244, 0.00) 100%));
                        padding: 0 31px;

                        .button {
                            display: flex;
                            width: 100%;
                            font: 600 13px/21px var(--base-font);
                            padding: 15px;
                        }
                    }

                    .block-sign-in-main-me-app-qr-image {
                        .block-qr-code {
                            .qr_code {
                                canvas {
                                    width: 180px;
                                    height: 180px;
                                }
                            }
                        }
                    }
                }

                .block-sign-in-main-me-app-details {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .block-sign-in-title {
            font: 700 36px/44px var(--base-font);
            margin: 0 0 30px 0;
            align-self: flex-start;
        }

        .block-sign-in-main {
            flex-direction: column;
            background: none;
            border: none;
            box-shadow: none;
            gap: 40px;

            .block-sign-in-main-email, .block-sign-in-main-me-app {
                box-shadow: none;
            }

            .block-sign-in-main-option {
                &.block-sign-in-main-email {
                    padding: 0 0 40px 0;
                    border-bottom: 1px solid var(--border-color);

                    .button-send-email {
                        width: 100%;
                    }

                    &:after {
                        top: auto;
                        right: auto;
                        bottom: -13px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                &.block-sign-in-main-me-app {
                    flex-direction: column;
                    gap: 20px;
                    text-align: center;
                    padding: 0;

                    .block-sign-in-main-me-app-details {
                        order: 2;

                        .block-sign-in-main-option-links {
                            margin: 0 auto;
                        }
                    }

                    .block-sign-in-main-me-app-qr {
                        order: 1;
                        width: 225px;
                        height: 225px;
                        margin: 0 auto;

                        .block-sign-in-main-me-app-qr-hidden {
                            width: 225px;

                            img {
                                margin: 0 10px 0 0;
                            }
                        }

                        .block-sign-in-main-me-app-qr-image {
                            .block-qr-code {
                                .qr_code {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}