.block.block-footer-copyright {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    background: #fbfbfb;
    width: 100%;
    justify-content: center;
    border-top: 1px solid var(--border-color);

    .footer-copyright-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: calc(var(--wrapper-width) + 40px);
        width: 100%;
        padding: 0 20px;
    }

    .footer-copyright-value {
        font: 400 13px/20px var(--base-font);
    }

    .footer-copyright-privacy {
        font: 600 13px/20px var(--base-font);
    }

    @media screen and (max-width: 992px) {
        flex-direction: column;
        padding: 24px 48px;
        margin: 0;

        .footer-copyright-wrapper {
            flex: auto;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .footer-copyright-value {
                flex-grow: 1;
                order: 2;
                font: 400 16px/24px var(--base-font);
            }

            .footer-copyright-privacy {
                order: 1;
                font: 500 16px/24px var(--base-font);
            }
        }
    }
}
