.block.block-social-domain {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0 0 100px;

    .block-social-domain-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 32px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('./assets/img/social-domain.jpg');

        .block-social-domain-banner-main {
            min-height: 460px;
            height: 100%;
            width: 100%;
            padding: 70px 50px;
            border-radius: 32px;
            box-shadow: 0 20px 55px 0 rgba(115, 120, 145, 0.06);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .block-social-domain-banner-info,
            .block-social-domain-banner-actions {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            .block-social-domain-banner-info {
                .block-social-domain-banner-subtitle {
                    font: 400 48px/68px var(--base-font);
                    color: #fff;
                }

                .block-social-domain-banner-title {
                    font: 900 56px/58px var(--base-font);
                    color: #fff;
                }
            }
        }
    }

    .block-social-domain-info {
        padding: 0 120px;
        font: 400 20px/30px var(--base-font);

        .block-social-domain-info-actions {
            padding-top: 30px;
        }
    }

    @media screen and (max-width: 1000px) {
        gap: 50px;
        margin: 0 0 30px;

        .block-social-domain-banner {
            .block-social-domain-banner-main {
                flex-direction: column;
                border-radius: 12px;
                padding: 24px;
                justify-content: flex-end;
                gap: 15px;
                min-height: 280px;

                .block-social-domain-banner-info {
                    .block-social-domain-banner-subtitle {
                        font: 400 20px/30px var(--base-font);
                    }

                    .block-social-domain-banner-title {
                        font: 900 28px/40px var(--base-font);
                    }
                }
            }
        }

        .block-social-domain-info {
            padding: 0 0;
            font: 300 13px/21px var(--base-font);

            .block-social-domain-info-actions {
                .button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
