.block.block-footer-apps {
    display: flex;
    flex-direction: row;
    align-items: center;

    .footer-apps-logo {
        display: flex;
        flex-direction: row;
        height: 40px;
        flex: 0 0 auto;
    }

    .footer-apps-details {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;

        .footer-apps-details-label {
            font: 700 20px/30px var(--base-font);
            padding-right: 12px;
        }

        .footer-apps-details-link {
            display: flex;
            height: 48px;
        }
    }
}
