.block.block-footer-copyright {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    background: #fbfbfb;
    width: 100%;
    justify-content: center;
    border-top: 1px solid var(--border-color);

    .footer-copyright-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex: 0 0 var(--wrapper-width);
    }

    .footer-copyright-value {
        font: 400 13px/20px var(--base-font);
    }

    .footer-copyright-privacy {
        font: 600 13px/20px var(--base-font);
    }
}
