@import "oostgelre/vars";
@import "_common/webshop";

// SHAME
@import "oostgelre/includes/shame";

// LAYOUTS
@import "oostgelre/layout/header";

// COMPONENTS
@import "oostgelre/components/buttons";

// SECTIONS
@import "oostgelre/sections/faq";
@import "oostgelre/sections/steps";
@import "oostgelre/sections/vouchers";

// BLOCKS
@import "oostgelre/sections/blocks/map";
@import "oostgelre/sections/blocks/products";
@import "oostgelre/sections/blocks/profile";
@import "oostgelre/sections/blocks/shops_map";
@import "oostgelre/sections/blocks/transactions";
@import "oostgelre/sections/blocks/voucher";
@import "oostgelre/sections/blocks/vouchers";

.page {
    display: flex;
    flex-direction: column;

    &.page-voucher {
        & > .section.section-products {
            order: 2;
        }

        & > .block.block-map_card {
            order: 1;
        }
    }
}
