@import "doetegoed/vars";
@import "_common/webshop";

// LAYOUTS
@import "doetegoed/layout/navigation";
@import "doetegoed/layout/header";

// INCLUDES
@import "doetegoed/includes/fonts";
@import "doetegoed/includes/form";
@import "doetegoed/includes/buttons";
@import "doetegoed/includes/pagination";

// COMPONENTS
@import "doetegoed/components/labels";
@import "doetegoed/components/buttons";

body {
    @media screen and (max-width: 1000px) {
        padding-bottom: 0;
    }
}

.block {
    &.block-pane,
    &.block-empty,
    &.block-map_card,
    &.block-action-card,
    &.block-funds-list .fund-item,
    &.block-product .product-card,
    &.block-search-results .search-item,
    &.block-user_emails .user_email-item,
    &.block-vouchers .voucher-item,
    &.block-reimbursements .reimbursement-item,
    &.block-profile .profile-aside .profile-menu .profile-menu-item {
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
    }

    &.block-office .office-content .block-organizations .organization-item,
    &.block-provider .provider-content .block-organizations .organization-item {
        border: none;
    }

    &.block-funds-list .fund-item,
    &.block-search-results .search-item {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
        transition: 0.4s;

        &:hover {
            box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.2);
        }
    }

    &.block-show-more .button,
    &.block-map .button {
        background-color: #ff9e1b;
        border: 1px solid #f8c178;

        .mdi {
            display: none;
        }
    }

    @import "doetegoed/sections/blocks/block-cms";
    @import "doetegoed/sections/blocks/block-navbar";
    @import "doetegoed/sections/blocks/block-footer";
    @import "doetegoed/sections/blocks/block-product";
    @import "doetegoed/sections/blocks/block-sign_up";
    @import "doetegoed/sections/blocks/block-cms-funds";
    @import "doetegoed/sections/blocks/block-copyrights";
    @import "doetegoed/sections/blocks/block-action-card";
    @import "doetegoed/sections/blocks/block-organizations";
    @import "doetegoed/sections/blocks/block-map";
    @import "doetegoed/sections/blocks/block-markdown";
    @import "doetegoed/sections/blocks/block-profile";
    @import "doetegoed/sections/blocks/block-empty";
}
