// SHAME
@import "winterswijk/includes/shame";

// LAYOUTS
@import "winterswijk/layout/header";

// COMPONENTS
@import "winterswijk/components/buttons";

// SECTIONS
@import "winterswijk/sections/faq";
@import "winterswijk/sections/steps";
@import "winterswijk/sections/vouchers";

// BLOCKS
@import "winterswijk/sections/blocks/map";
@import "winterswijk/sections/blocks/products";
@import "winterswijk/sections/blocks/profile";
@import "winterswijk/sections/blocks/shops_map";
@import "winterswijk/sections/blocks/transactions";
@import "winterswijk/sections/blocks/voucher";
@import "winterswijk/sections/blocks/vouchers";

.page {
    display: flex;
    flex-direction: column;

    &.page-voucher {
        & > .section.section-products {
            order: 2;
        }

        & > .block.block-map_card {
            order: 1;
        }
    }
}
