.block.block-push-notifications {
    position: fixed;
    right: 25px;
    top: 100px;
    width: 360px;
    z-index: 25;
    display: flex;
    flex-direction: column;
    gap: 10px;

    --push-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);

    .notification-setting,
    .notification-show-all {
        cursor: default;
        background: #fff;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        box-shadow: var(--push-shadow);
        font: 400 12px/20px var(--base-font);
        gap: 5px;

        a {
            font: inherit;
            font-weight: 600;
            text-decoration-line: underline;
        }

        .mdi {
            float: none;
            margin: 0;
            font-size: 22px;
            line-height: 20px;
        }
    }

    .notification-setting {
        .notification-setting-separator {
            height: 4px;
            width: 4px;
            background-color: #dbdcdb;
            border-radius: 50%;
        }
    }

    .notification-show-all {
        cursor: pointer;
        font-weight: 600;
        text-decoration-line: underline;
    }

    .notification-setting-inline {
        display: none;
    }

    .notification-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 0;
    }

    .notification {
        border-radius: var(--border-radius);
        padding: 12px 30px 12px 15px;
        position: relative;
        color: #262626;
        cursor: default;
        background: #faf9f5;
        display: flex;
        flex-direction: row;
        gap: 5px;
        word-break: break-word;
        box-shadow: var(--push-shadow);
        border: 1px solid var(--border-color);

        .notification-close {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 20px;
            color: #bcc1d3;
            transition: 0.4s;
            z-index: 1;
            width: 25px;
            height: 25px;
            display: block;
            text-align: center;
            cursor: pointer;

            &:before {
                width: 25px;
                line-height: 25px;
            }

            &:hover {
                color: var(--base-color);
            }
        }

        .notification-icon {
            font-size: 20px;
            width: 24px;
            color: #33475b;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex: 0 0 24px;
            line-height: 22px;
        }

        .notification-content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            min-width: 0;
        }

        .notification-details {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            gap: 2px;

            .notification-title {
                font: 700 14px/20px var(--base-font);
                margin: 0 0;
            }

            .notification-description {
                color: #353535;
                font: 500 13px/18px var(--base-font);
                margin: 0 0;
            }
        }

        .notification-setting {
            display: none;
        }

        &.notification-danger {
            background: #fff5f5;
            border-color: #e8dadb;
        }

        &.notification-success {
            background: #ebffed;
            border-color: #d9e5de;
        }

        &.notification-info {
            background: #f0f4ff;
            border-color: #dee0ea;
        }
    }

    &.block-push-notifications-show-all {
        bottom: 200px;
        max-height: 500px;
        min-height: 300px;

        .notification-list {
            overflow-x: hidden;
            overflow-y: scroll;
            padding-right: 7px;
            @include webkit_scrollbar();
        }
    }

    @media screen and (max-width: 400px) {
        right: 0;
        width: 100%;
        top: 65px;
        padding: 0 10px;
    }
}
