@import './vars';
@import '../_common/dashboard';

.landing-root {
    background: #f7f9fc linear-gradient(to bottom, #f7f9fc 0%, #ffffff 100%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    @import '../_common/landing';

    .section {
        &.section-header {
            background-size: contain;
            background: url(../img/landing/splash-top-b.png) no-repeat center center;

            .header-content {
                color: var(--text-color);
            }
        }
    }

    .app.app-container {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        flex: 1 0 auto;
        min-height: 85vh;
    }
}

.landing-style {
    @import '../_common/landing';
}
