.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;

    .layout-header {
        display: flex;
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: center;
        border-bottom: 1px solid var(--border-color);

        .layout-header-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 1 var(--wrapper-width);
        }

        .layout-header-logo {
            display: flex;
            flex: 0 1 120px;

            img {
                display: block;
                width: 100%;
            }
        }

        .layout-header-menu {
            display: flex;
            flex: 1 1 auto;
            gap: 40px;
            justify-content: center;

            .layout-header-menu-item {
                display: flex;
                flex: 0 0 auto;
                padding: 20px 0;
                position: relative;
                font: 500 15px/40px var(--base-font);
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    background: var(--color-primary);
                    opacity: 0;
                    transition: 0.4s opacity;
                }

                &.active,
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .layout-header-auth {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 1 auto;
            position: relative;
            height: fit-content;

            .layout-header-auth-content {
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;
                gap: 10px;
            }

            .layout-header-auth-details {
                text-align: right;

                .layout-header-auth-details-identifier {
                    font: 500 15px/20px var(--base-font);
                }

                .layout-header-auth-details-label {
                    font: 400 12px/20px var(--base-font);
                }
            }

            .layout-header-auth-media {
                border: 1px solid var(--border-color);
                border-radius: 16px;
                flex: 0 0 40px;
                overflow: hidden;
                cursor: pointer;
                transition: 0.4s box-shadow;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .layout-header-auth-toggle {
                display: flex;
                flex: 0 0 20px;
                cursor: pointer;
                align-items: center;

                .mdi {
                    color: var(--text-color);
                    transition: 0.4s color;
                    font-size: 22px;
                }
            }

            .layout-header-auth-menu {
                top: calc(100% + 5px);
                cursor: default;
                right: 20px;
                display: flex;
                flex-direction: column;
                background: #fff;
                box-shadow: var(--box-shadow);
                border: 1px solid var(--border-color);
                border-radius: 16px;
                position: absolute;
                padding: 10px 12px;
                gap: 10px;

                .layout-header-auth-menu-item {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    padding: 5px 11px;
                    cursor: pointer;
                    background-color: #fff;
                    font: 500 15px/20px var(--base-font);
                    transition: 0.4s color, 0.4s background-color;
                    border-radius: var(--border-radius);
                    width: 200px;

                    .layout-header-auth-menu-item-icon {
                        display: flex;
                    }

                    svg,
                    .mdi {
                        display: flex;
                        justify-content: center;
                        font-size: 20px;
                        flex: 0 0 20px;
                        color: #7780a0;
                        transition: 0.4s color;
                    }

                    svg path {
                        fill: #7780a0;
                        transition: 0.4s fill;
                    }

                    &:hover {
                        background-color: #f4f4f4;

                        .mdi,
                        svg path {
                            fill: #273266;
                            color: #273266;
                        }
                    }

                    &.active {
                        background-color: #f4f4f4;

                        .mdi,
                        svg path {
                            fill: #315efd;
                            color: #315efd;
                        }
                    }
                }

                .layout-header-auth-menu-separator {
                    margin: 0px -12px;
                    height: 1px;
                    background: var(--border-color);
                }
            }

            &.active {
                .layout-header-auth-media {
                    box-shadow: var(--box-shadow);
                }

                .layout-header-auth-toggle {
                    .mdi {
                        color: #7780a0;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .layout-body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .layout-footer {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        align-items: center;
        gap: 30px;

        .layout-footer-separator {
            background: #d6d7db;
            height: 1px;
            width: var(--wrapper-width);
        }
    }
}
