.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;

    .layout-header {
        display: flex;
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: center;
        border-bottom: 1px solid var(--border-color);

        .layout-header-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 1 calc(var(--wrapper-width) + 40px);
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }

        .layout-header-logo {
            display: flex;
            flex: 0 1 120px;

            img {
                display: block;
                width: 100%;
            }
        }

        .layout-header-menu {
            display: flex;
            flex: 1 1 auto;
            gap: 40px;
            justify-content: center;

            .layout-header-menu-item {
                display: flex;
                flex: 0 0 auto;
                padding: 30px 0;
                position: relative;
                font: 500 15px/23px var(--base-font);
                cursor: pointer;
                color: #2a2b2d;

                &.active {
                    color: var(--color-primary);
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    background: var(--color-primary);
                    opacity: 0;
                    transition: 0.4s opacity;
                }

                &.active,
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .layout-header-auth {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 1 auto;
            position: relative;
            height: fit-content;

            .layout-header-auth-content {
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;
                gap: 10px;
            }

            .layout-header-auth-details {
                text-align: right;

                .layout-header-auth-details-identifier {
                    font: 500 15px/20px var(--base-font);
                }

                .layout-header-auth-details-label {
                    font: 400 12px/20px var(--base-font);
                }
            }

            .layout-header-auth-media {
                border: 1px solid var(--border-color);
                border-radius: 16px;
                flex: 0 0 40px;
                overflow: hidden;
                cursor: pointer;
                transition: 0.4s box-shadow;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .layout-header-auth-toggle {
                display: flex;
                flex: 0 0 20px;
                cursor: pointer;
                align-items: center;

                .mdi {
                    color: var(--text-color);
                    transition: 0.4s color;
                    font-size: 22px;
                }
            }

            .layout-header-auth-menu {
                z-index: 999;
                top: calc(100% + 5px);
                cursor: default;
                right: 20px;
                display: flex;
                flex-direction: column;
                background: #fff;
                box-shadow: var(--box-shadow);
                border: 1px solid var(--border-color);
                border-radius: 16px;
                position: absolute;
                padding: 10px 12px;
                gap: 10px;

                .layout-header-auth-menu-item {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    padding: 5px 11px;
                    cursor: pointer;
                    background-color: #fff;
                    font: 500 15px/20px var(--base-font);
                    transition: 0.4s color, 0.4s background-color;
                    border-radius: var(--border-radius);
                    width: 200px;

                    .layout-header-auth-menu-item-icon {
                        display: flex;
                    }

                    svg,
                    .mdi {
                        display: flex;
                        justify-content: center;
                        font-size: 20px;
                        flex: 0 0 20px;
                        color: #7780a0;
                        transition: 0.4s color;
                    }

                    svg path {
                        fill: #7780a0;
                        transition: 0.4s fill;
                    }

                    &:hover {
                        background-color: #f4f4f4;

                        .mdi,
                        svg path {
                            fill: #273266;
                            color: #273266;
                        }
                    }

                    &.active {
                        background-color: #f4f4f4;

                        .mdi,
                        svg path {
                            fill: #315efd;
                            color: #315efd;
                        }
                    }
                }

                .layout-header-auth-menu-separator {
                    margin: 0px -12px;
                    height: 1px;
                    background: var(--border-color);
                }
            }

            &.active {
                .layout-header-auth-media {
                    box-shadow: var(--box-shadow);
                }

                .layout-header-auth-toggle {
                    .mdi {
                        color: #7780a0;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .layout-body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .layout-footer {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        align-items: center;
        gap: 30px;

        .layout-footer-separator {
            background: #d6d7db;
            height: 1px;
            width: 100%;
            max-width: var(--wrapper-width);
        }

        .block-footer-apps {
            .footer-apps-details {
                .footer-apps-detail-links {
                    display: flex;

                    .footer-apps-details-link {
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .layout-header {
            position: sticky;
            z-index: 999;
            top: 0;
            bottom: 0;
            left: 0;
            border-bottom: none;
            flex-direction: column;

            .layout-header-wrapper {
                display: flex;
                padding: 18px 24px;
                background-color: #fff;
                flex: auto;

                .layout-header-logo {
                    flex-grow: 1;

                    img {
                        width: 80px;
                    }
                }

                .layout-header-menu {
                    flex-grow: initial;
                    align-items: center;
                    gap: 0;

                    .layout-header-identifier {
                        font: 500 13px/18px var(--base-font);
                        margin-right: 10px;
                    }

                    .layout-header-login-icon {
                        margin-right: 5px;
                    }

                    .menu-icon-close,
                    .menu-icon-toggle {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    .button-login {
                        padding: 0;
                        margin-right: 20px;

                        &.button-login {
                            color: #273266;
                            font: 500 14px/21px var(--base-font);
                        }
                    }
                }
            }
        }

        .layout-footer {
            .wrapper {
                padding: 0;
            }

            .block-footer-apps {
                flex-direction: column;

                .footer-apps-details {
                    flex-direction: column;

                    .footer-apps-details-label {
                        margin-right: 0;
                    }

                    .footer-apps-detail-links {
                        display: flex;

                        .footer-apps-details-link {
                            margin-right: 20px;
                            flex-grow: 1;

                            &:last-child {
                                margin-right: 0;
                                flex-grow: initial;
                            }
                        }
                    }
                }
            }
        }

        .layout-header-auth-menu {
            z-index: 999;
            position: absolute;
            cursor: default;
            display: flex;
            flex-direction: column;
            background: #fff;
            box-shadow: var(--box-shadow);
            border: 1px solid var(--border-color);
            border-radius: 16px;
            padding: 10px 12px;
            gap: 10px;
            width: calc(100% - 40px);
            right: 0;
            margin: 0 20px 0 20px;
            bottom: 20px;

            .layout-header-auth-menu-item {
                display: flex;
                flex-direction: row;
                gap: 8px;
                padding: 5px 11px;
                cursor: pointer;
                background-color: #fff;
                font: 500 15px/20px var(--base-font);
                transition: 0.4s color, 0.4s background-color;
                border-radius: var(--border-radius);
                width: 200px;

                .layout-header-auth-menu-item-icon {
                    display: flex;
                }

                svg,
                .mdi {
                    display: flex;
                    justify-content: center;
                    font-size: 20px;
                    flex: 0 0 20px;
                    color: #7780a0;
                    transition: 0.4s color;
                }

                svg path {
                    fill: #7780a0;
                    transition: 0.4s fill;
                }

                &:hover {
                    background-color: #f4f4f4;

                    .mdi,
                    svg path {
                        fill: #273266;
                        color: #273266;
                    }
                }

                &.active {
                    background-color: #f4f4f4;

                    .mdi,
                    svg path {
                        fill: #315efd;
                        color: #315efd;
                    }
                }
            }

            .layout-header-auth-menu-separator {
                margin: 0px -12px;
                height: 1px;
                background: var(--border-color);
            }
        }
    }
}
