.section {
    text-align: center;
    margin: 0 0 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .section-title {
        font: 800 86px/96px var(--base-font);
        margin: 0 0;

        &.section-title-sm {
            font: 800 50px/68px var(--base-font);
        }
    }

    .section-description {
        font: 400 24px/36px var(--base-font);
        margin: 0 0 30px;
    }

    .section-description-sm {
        font: 400 18px/28px var(--base-font);
        margin: 0 0 30px;

        &:last-child {
            margin: 0 0 0;
        }
    }

    .section-subtitle {
        font: 800 48px/64px var(--base-font);
        margin: 0 0;
    }

    .section-banner {
        width: 100%;
        margin: 0 0 30px;

        img {
            width: 100%;
            display: block;
        }
    }

    .section-details-block {
        width: 100%;
        display: flex;
        gap: 100px;
        text-align: left;

        .section-details-block-main {
            font: 600 40px/52px var(--base-font);
            width: 50%;
        }

        .section-details-block-description {
            font: 400 18px/28px var(--base-font);
            width: 50%;
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0 0 30px;
        gap: 10px;

        .section-title {
            font: 800 34px/44px var(--base-font);

            &.section-title-sm {
                font: 800 34px/44px var(--base-font);
            }
        }

        .section-subtitle {
            font: 800 30px/40px var(--base-font);
        }

        .section-description {
            font: 400 16px/27px var(--base-font);
        }

        .section-details-block {
            flex-direction: column;
            gap: 20px;

            .section-details-block-main,
            .section-details-block-description {
                width: 100%;
            }

            .section-details-block-main {
                font: 700 20px/30px var(--base-font);
            }

            .section-details-block-description {
                font: 400 14px/21px var(--base-font);
                color: #333;
            }
        }
    }
}
