&.block-feature-text-image-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    border: 1px solid #d4d9dd;
    overflow: hidden;
    margin-bottom: 32px;

    .block-feature-text-image-columns-description {
        background: #004195;
        color: #fff;
        padding: 48px 32px;

        h4 {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    .block-feature-text-image-columns-img {
        img {
            min-width: 100%;
            height: 100%;
            margin-bottom: 0;
        }
    }

    &.block-feature-text-image-columns-secondary {
        border-color: #b0d136;
        grid-template-columns: 300px auto;

        .block-feature-text-image-columns-description {
            position: relative;
            height: fit-content;
            background: #fff;
            color: #646f79;
            margin: 42px;
            padding: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            align-self: center;

            h4 {
                color: #151b26;
                margin-bottom: 12px;
                font-size: 28px;
                font-weight: 600;
                line-height: 38px;
            }

            strong {
                color: #5f9e50;
            }

            &:before {
                content: '';
                display: block;
                width: 5px;
                height: 100%;
                border-radius: 3px;
                background: linear-gradient(0deg, #7db75a 0%, #7db75a 100%), #e6eeaf;
                position: absolute;
                top: 0;
                left: -25px;
            }
        }
    }

    &.block-feature-text-image-columns-light {
        .block-feature-text-image-columns-description {
            background: #315efd;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}
